@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    634,Sector-1<br />
    Ghaziabad, Uttar Pradesh<br />
    <abbr title="Phone">P:</abbr>
    123456789
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">apoorv.goswami@company.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">dharam.saini@company.com</a>
</address>